@model Auctioneer.Models.PlaceBidViewModel

@{ 
    ViewBag.Title = Model.Auction.Title;
}
<div class="auction-container">
  <div class="row auction-header">
    <div class="col-xs-12 col-sm-4">
      <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=First%20Image&w=300&h=300" />
    </div>

    <div class="col-xs-12 col-sm-8">
      <div class="row">
        <h2 class="title">@Model.Auction.Title</h2>
        <small>@Model.Auction.Subtitle</small>
      </div>
      

      <div class="row" id="bid-container">
        @Html.Partial("BidPlacePartial", Model)
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>@Model.Auction.Description</p>
    </div>
  </div>
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}